/* Catppuccin Mocha - Default Color Scheme */

* {
  color: #cdd6f4;
}

window#waybar {
  color: #cdd6f4;
}

#custom-debian {
  color: #f38ba8;
}

#workspaces button.active {
  color: #89b4fa;
}

#hyprland-window {
  color: #a6e3a1;
}

#custom-linux {
  color: #89b4fa;
}

#network {
  color: #f9e2af;
}

#network.disconnected {
  color: #f38ba8;
}

#bluetooth {
  color: #89b4fa;
}

#battery {
  color: #a6e3a1;
}

#battery.charging,
#battery.plugged {
  color: #f9e2af;
}

#battery.warning,
#battery.critical {
  color: #f38ba8;
}

#pulseaudio {
  color: #f5c2e7;
}

#pulseaudio.muted {
  color: #6c7086;
}

#cpu {
  color: #fab387;
}

#temperature {
  color: #f9e2af;
}

#temperature.critical {
  color: #f38ba8;
}

#clock {
  color: #cba6f7;
}

#custom-power {
  color: #f38ba8;
}

#custom-colorschemas {
  color: #f5c2e7;
}
