/* Gruvbox Dark Color Scheme */

* {
  color: #ebdbb2;
}

window#waybar {
  color: #ebdbb2;
}

#custom-debian {
  color: #cc241d;
}

#workspaces button.active {
  color: #d79921;
}

#hyprland-window {
  color: #98971a;
}

#custom-linux {
  color: #458588;
}

#network {
  color: #d79921;
}

#network.disconnected {
  color: #cc241d;
}

#bluetooth {
  color: #458588;
}

#battery {
  color: #98971a;
}

#battery.charging,
#battery.plugged {
  color: #d79921;
}

#battery.warning,
#battery.critical {
  color: #cc241d;
}

#pulseaudio {
  color: #b16286;
}

#pulseaudio.muted {
  color: #665c54;
}

#cpu {
  color: #d65d0e;
}

#temperature {
  color: #d79921;
}

#temperature.critical {
  color: #cc241d;
}

#clock {
  color: #b16286;
}

#custom-power {
  color: #cc241d;
}

#custom-colorschemas {
  color: #b16286;
}
